.background {
  background-color: var(--background);
}

.main {
  font-family: 'MuseoModerno', serif;
  font-size: 1.3em;
  color: var(--text);
}

header {
  background-color: rgba(255, 255, 255, 0.452);
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

a:hover {
  transition: 0.2s;
  color: var(--primary);
}

.h1-title-div > h1 {
  font-size: 9em;
  font-family: 'Water Brush', cursive;
}

.description-div > p {
  font-size: 2em;
  font-family: 'MuseoModerno', serif;
}

.button-div {
  padding: 10px 30px 10px 30px;
  border: 1px solid var(--primary);
  border-radius: 10px;
  background-color: var(--background);
}

.button-div:hover {
  transition: 0.2s;
  background-color: var(--primary);
  color: white;
}

.button-div > button {
  cursor: pointer;
  font-size: 1.5em;
  font-family: 'MuseoModerno', serif;
}
