

header {
  font-family: 'MuseoModerno', serif;
  background-color: rgba(255, 255, 255, 0.452);
  backdrop-filter: blur(5px);
}

a {
  cursor: pointer;
  color: var(--text);
  font-size: 1.4em;
}

a:hover {
  transition: 0.3s;
  color: var(--primary);
}


.icon-button {
    padding: 10px;
    border-radius: 50%;
    border: 1px solid gray;
}


.hamburguer > button > span {
  font-size: 2.3em;
}